# All executables
PrefixedMacros
DisabledMacros
DisabledExceptions-DefaultHandler
DisabledExceptions-CustomHandler
FallbackStringifier
DisableStringification
BenchmarkingMacros
WindowsHeader
DebugBreakMacros
AmalgamatedTestCompilation
BenchmarksInCumulativeReporter
CapturedStdOutInTestCaseEvents
CasingInReporterNames
DeferredStaticChecks
DuplicatedTestCases-DifferentFixtures
DuplicatedTestCases-DuplicatedTestCaseMethods
DuplicatedTestCases-SameNameAndTags
DuplicatedTestCases-SameNameDifferentTags
ListenerStdoutCaptureInMultireporter
NoTests
ReporterPreferencesForPassingAssertionsIsRespected
CustomArgumentsForReporters
DuplicatedReporterNames
ListenerCanAskForCapturedStdout
ListenersGetEventsBeforeReporters
AllSkipped
AssertionStartingEventGoesBeforeAssertionIsEvaluated
